
<ion-header>

  <ion-navbar>
    <ion-title>{{provider}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="refresher($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="refresh-container" *ngIf="lostConnection">
    <p>pull down for page refresh</p>
    <div><i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i></div>
  </div>

  <ion-list>
    <div *ngFor="let item of repos">
      <ion-card (tap)="pushPage(item)" >
        <ion-item>
          <h2>{{item.name}}</h2>
          <div class="info">
            <span class="info__lng">{{item.language}}</span>
            <ion-icon name="star" class="info__stars"> {{item.stargazers_count}}</ion-icon>
            <ion-icon name="git-branch" class="info__fork"> {{item.forks_count}}</ion-icon>
          </div>
        </ion-item>
      </ion-card>
    </div>
  </ion-list>
</ion-content>
